{%extends "layout.html"%}
{%block title%}
Add Contact
{%endblock%}
{%block header%}
<ul id="navbar">
    <li><a href="{{ url_for('home') }}">Home</a></li>
    <li id="active"><a href="{{ url_for('addcontact') }}">Add Contact</a></li>
    <li><a href="{{ url_for('contacts') }}">Contacts</a></li>
</ul> 
{%endblock%}
{%block content%}
<h1>Add Contact</h1>
<p>{{ message }}</p>
<form action="" method="post" novalidate>
    First Name: <input type="text" name="firstname" value="{{ values['firstname'] }}"><br>
    {{ field_error('firstname') }}<br>
    Last Name: <input type="text" name="lastname" value="{{ values['lastname'] }}"><br>
    {{ field_error('lastname') }}<br>
    Email: <input type="" name="email" value="{{ values['email'] }}"><br>
    {{ field_error('email') }}<br>
    Phone Number: <input type="tel" name="phonenumber" value="{{ values['phonenumber'] }}"><br>
    {{ field_error('phonenumber') }}<br>
    <input type="submit" value="submit">
</form>
{%endblock%}

{% macro field_error(fieldname) %}
{%if fieldname in  error_messages %}
    <p class="error">{{ error_messages[fieldname][0] }}</p>
{%endif%}
{% endmacro %}