{% set page = "home" %}
{%extends "layout.html"%}
{%block title%}
Home
{%endblock%}
{%block content%}
{% if current_user.is_authenticated %}
<p id="login_message">Hi, {{ current_user.username }}!</p>
{% endif %}
<h1>Home</h1>
<p>Welcome to the Contact Adder&trade;! If you have questions about the app or don't understand 
    something check out the two sections below on using the 'add contact' and 'contacts'
    functionality.
</p>
<h2>Add Contact</h2>
<p>Simply fill out the form with the information you want your contact to have. Then press 
    the submit button. If you get any errors, read the error message and carefully review your
    input. Once you submit the form without any errors, you should be redirected to the 
    contacts page. 
</p>
<h2>Contacts</h2>
<p>If you don't have any contacts entered, then the page will display a 'no contacts to
    show' message. Add a contact if you want to see one. If you do have any contacts
    entered, they will display and there will be a checkbox next to each one. This is for 
    the delete functionality. Simply check the box of each contact you want to delete
    then press the delete button at the bottom of the page.
</p>
{%endblock%}