*{
    font-family: 'Nunito', sans-serif;

}

#navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: 25px;
}

#navbar li{
    float: left;
}

#navbar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li:not(#active) a:hover {
    background-color: #111;
}

#active{
    background-color: #4c45d0;
}

#login_message{
    color:#ffffff;
    background: green;
    border:hidden;
    padding:5px;
    font-size:15px;
}

h1{
    font-size:25px;
}

h2{
    font-size:20px;
}

table {
    font-family: arial, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th{
    background-color:#4c45d0;
    color:#dddddd;
    border:none;
    font-size:20px;
}

.check{
    width: 3%;
}

.error{
    color: #D8000C;
    background-color: #FFD2D2;
    padding:.5%;
    margin-top: 5px;
    margin-bottom: 5px;
}

footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #dedede;
    border: solid;
    border-color: #808080;
    border-radius: 5px;
    padding: 10px;
}

#copyright{
    color: #4c45d0;
}

input{
    border: solid;
    border-radius: 5px;
    border-color: lightgray;
    border-width: 1px;
}


